<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Message Board</title>
  </head>
  <body>
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'main'%}">Message Board</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'sign-up'%}">Sign Up</a></li>
                    {% if user_login == False %}
                    <li><a href="#signin" data-toggle="modal" data-target="#signin">Log In</a></li>                    
                    {% else %}
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    <li><a>Logged in as {{user.username}}</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

<div class="container">
    <div class="page-header">
        <h2 style="text-align:center">Board Topics</h2>
        {% for topic in topics %}
        <div class="well" style="padding-bottom:10px">
            <b>{{ topic.title }}</b>
            <a class = "btn btn-primary pull-right" href="{% url 'topic-detail' topic.id %}">View Posts</a>
        </div>
        {% endfor %}
        {% if user_login == True %}
        <br />
        <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#newtopic">Create New Topic</a>
        {% endif %}
    </div>
    
    <div class="modal fade" id="signin">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Login a User</h4>
                </div>
                <form method="post" action="{% url 'sign-in' %}" style="text-algin:center;margin:10px;">
                    {% csrf_token %}
                    <b>Username:</b>
                    <input type="text" class="form-control" name="username">
                    <br />
                    <b>Password:</b>
                    <input type="password" class="form-control" name="password">
                    <br />
                    <input type="submit" class="btn btn-success" value="Sign In">
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="newtopic">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>New Topic</h4>
                </div>
                <form method="post" action="{% url 'new-topic' %}" style="text-algin:center;margin:10px;">
                    {% csrf_token %}
                    <b>Topic Name</b>
                    <input type="text" class="form-control" name="topic_name">
                    <br />
                    <input type="submit" class="btn btn-success" value="Create new Topic!">
                </form>
            </div>
        </div>
    </div>

</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
